{% extends 'admin/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %} About {% endblock %}</title>
</head>
<body>
    {% block webcontent %}
    <div class="container text-center mt-5 p-3">
        <h2 class="text-center font-weight-bold">About us</h2>
        <p class="text-justify mt-3 p-3">
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
            We are from different highschools in Addis Ababa.
        </p>
    </div>
    {% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
