{% extends "admin/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin panel{% endblock %}</title>
</head>
<body>
{% block webcontent %}
<header class="text-center d-flex align-items-center bg-primary py-3">
  <h1 class="text-white mx-auto">This is the admins control panel</h1>
</header>
<hr>
<p class="text-center justify-content-center" > Artificial intelligence (AI) 
  is transforming the way we live, work and interact. From chatbots to 
  self-driving cars, AI is impacting nearly every industry and aspect of 
  our lives. With its ability to analyze vast amounts of data and make 
  predictions with high accuracy, AI is helping companies improve efficiency,
  make better decisions and create new and innovative products. As AI
  technology continues to advance, we can expect to see even more 
  amazing and groundbreaking applications in the future, changing 
  our world in ways we can't even imagine.</p>

<hr>
  
{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>