{% extends 'admin/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} News {% endblock %}</title>
</head>
<body>
{% block webcontent %}
<!-- <h3 class="text-center, ">Post Shift</h3> -->
<form action="/admin_news" method="post" class="bg-white p-3 w-75 align-items-center">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="Monday">Monday:</label>
    <textarea class="form-control" id="Monday" name="monday"></textarea>
  </div>
  <div class="form-group">
    <label for="Tuesday">Tuesday:</label>
    <textarea class="form-control" id="Tuesday" name="tuesday"></textarea>
  </div>
  <div class="form-group">
    <label for="Wednesday">Wednesday:</label>
    <textarea class="form-control" id="Wednesday" name="wednesday"></textarea>
  </div>
  <div class="form-group">
    <label for="Thursday">Thursday:</label>
    <textarea class="form-control" id="Thursday" name="thursday"></textarea>
  </div>
  <div class="form-group">
    <label for="Friday">Friday:</label>
    <textarea class="form-control" id="Friday" name="friday"></textarea>
  </div>
  <div class="form-group">
    <label for="Saturday">Saturday:</label>
    <textarea class="form-control" id="Saturday" name="saturday"></textarea>
  </div>
  <div class="form-group">
    <label for="Sunday">Sunday:</label>
    <textarea class="form-control" id="Sunday" name="sunday"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
{% endblock %}
</body>
</html>