{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
{% block webcontent %}
<header class="text-center d-flex align-items-center bg-primary py-3">
    <h1 class="text-white mx-auto">Welcome to home</h1>
  </header>
  <h1>The content of the home page will display here!!!</h1>
  <img src="{{ url_for('static', filename='img/1.ico') }}" alt="loading">
{% endblock %}
</body>
</html>