{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} News {% endblock %}</title>
</head>
<body>
{% block webcontent %}
<header class="text-center d-flex align-items-center bg-primary py-3">
    <h1 class="text-white mx-auto">Welcome to News</h1>
    <p>We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.
      We are from different highschools in Addis Ababa.</p>
  </header>
{% endblock %}
</body>
</html>