{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} News {% endblock %}</title>
</head>
<body>
{% block webcontent %}
<header class="text-center d-flex align-items-center bg-success py-3">
  <h1 class="text-white mx-auto font-weight-bold">News</h1>
</header>
<br><br>
<div class="d-flex justify-content-center">
<div class="card" style="width: 50%;">
  <div class="card-body">
    <h5 class="card-title">Health Monitoring System</h5>
    <p class="card-text text-justify">
      Welcome to the Health Monitoring System, where you can track and manage the health records of your patients. As an administrator, you have the power to access and manage all patient data, as well as control the user accounts. You can add, edit, and delete patient information, view health reports, and generate statistics to monitor the overall health of your patients. With these tools, you can ensure the best possible care for your patients, and provide them with the resources they need to stay healthy and informed. We trust that you will use these privileges responsibly and to the best of your abilities.
    </p>
  </div>
</div>
</div>
<br><br>
{% endblock %}
</body>
</html>