{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %} Sign In {% endblock %}</title>
  </head>
  <body>
    {% block webcontent %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3 class="text-center, ">Sign In</h3>
          <hr>
          <form action="{{ url_for('signin') }}" method="post">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block">Sign In</button>
            </div>
            <div class="form-group">
              <input type="reset" value="Reset form" class="btn btn-success btn-block">

              
                <button type="submit" class="btn btn-danger btn-block">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
