{% extends "nurse/base.html"%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Nurse {% endblock %}</title>
  </head>
  <body>
    {% block webcontent %}
    <header class="text-center d-flex align-items-center bg-success py-3">
      <h1 class="text-white mx-auto">This is the nurse control panel</h1>
    </header>
    <br /><br />
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 50%">
        <div class="card-body">
          <h5 class="card-title">Health Monitoring System</h5>
          <p class="card-text text-justify">
            Welcome to the Health Monitoring System, where you can provide
            comprehensive care to your patients. As a nurse, you have access to
            patient health records and the ability to assist in managing their
            medical information. You can assist in updating patient data, view
            health reports, and utilize the system's tools to monitor the
            overall health and progress of your patients. With these resources
            at your disposal, you can work together with the doctor to deliver
            the best possible care, and keep your patients informed and engaged
            in their health journeys. We have the utmost confidence in your
            nursing expertise and trust that you will use these privileges to
            help your patients achieve optimal health.
          </p>
        </div>
      </div>
    </div>
    <br /><br />
    {% endblock %}
  </body>
</html>
